$color-imss: #005d4f;
$color-gob: #9d2449;

$color-imss-light: #E6EFEA;

$color-terciario: #13322e;

$color-primario: $color-terciario;
$color-primario--suave: $color-imss;
$color-secundario: #a57f2c;
$color-secundario--suave: #DDC9A3;

$gris-uno: #98989A;
$gris-suave: #f5f5f5; 
$gris-medio: #e2e2e2;
$color-texto: #404041;



// variables perfiles 
$enfermeria : #1d0e9f;
$medico: #d1820c;
$directivo: #8e0fb8;
$docente:#068fd4;
$multidisciplinario:#d1049e; 