# ======================================================
# DEVELOPMENT
# ======================================================
_dev/


# ======================================================
# DEFAULT COURSE IMAGES
# ======================================================
img/course-img-default/


# ======================================================
# SYSTEM FILES
# ======================================================
.DS_Store
Thumbs.db


# ======================================================
# NODE / BUILD
# ======================================================
node_modules/
dist/
vendor/


# ======================================================
# LOGS / ENV
# ======================================================
*.log
.env


# ======================================================
# SOURCE MAPS
# ======================================================
*.map
