// Importación de utilidades base
@use '../variables' as vars;
@use '../mixins' as mix;

.onsite-health {

    &__container {
      width: 360px;
      margin: auto;

      @include mix.respond-to(sm) {
        width: 100%;
        max-width: 1180px;
        padding: 0 2rem;
      }

      @include mix.respond-to(lg) {
        padding: 0;
    }
  }

    &__title {
      margin: 1rem 0 2rem;
      color: vars.$color-texto;
      font-size: clamp(2.5rem, 4vw, 3rem);
      font-weight: 800;
      line-height: 1.1;

      @include mix.respond-to(md) {
        margin: 4rem 0 3rem;
       }


      &--sm {
        font-size: clamp(1.7rem, 4vw, 2.2rem);
        margin: 4rem 0  1.5rem;

        @include mix.respond-to(md) {
            margin: 4rem 0 2rem;
           }
      }

    }

  }
  
