// Importación de utilidades base
@use '../variables' as vars;
@use '../mixins' as mix;

.educational-offer-card {
  min-height: 230px;
  padding: 2rem 4rem 5rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(#000, 0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;

}