// Importación de utilidades base
@use '../variables' as vars;
@use '../mixins' as mix;

.search{

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 3rem;
      }
}